body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 4, 4);
    font-family: 'Montserrat', sans-serif;
}
.main {
    min-height: calc(100vh - 120px);
  }
.head-down{
	  background-color: #250808;
	  height: 120px;
}
a:hover{
    text-shadow: 0 0 50px #fff,
               
                0 0 12px #fff;
    font-weight: bold;
    transition: all 0.5s ease;
}
a{
    text-decoration: none;
    color: rgb(245, 160, 160);
    transition: all 0.8s ease;
}
header{
    background-color: #120606;
    height: 120px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav{
    list-style-type: none;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight:550;
    font-size: 17px;
    text-align: right;
    margin: 25px 0 10px 0;
}
.nav li{
    display: inline-block;
    margin-left: 40px;
}
.nav li a, .social a{
    text-decoration: none;
    color: aliceblue;
    transition: all 0.3s ease;
}
.nav li a:hover, .social a:hover{
    transition: all 0.3s ease;
}
.social{
    text-align: right;
    margin: 20px 0 0 0;
}
.social img{
    margin-left: 15px;
}
.tg:hover{
    box-shadow: 0 0 25px #589fde;
}
.fb:hover{
    box-shadow: 0 0 25px #3b5998;
}
.inst:hover{
    box-shadow: 0 0 25px rgb(243, 57, 119);
}
.vk:hover{
    box-shadow: 0 0 25px #1774d1;
}
.yt:hover{
    box-shadow: 0 0 25px #d82020;
}
.big-head{
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}
.h-info{
    width: 70vw;
    height: 120px;
    display: block;
}
.big-head .logo, .small-head .logo{
   margin-top: 10px;
    width: 150px;
    height: auto;
}
.small-head{
    display: flex;
    justify-content: space-between;
}
.small-head .logo{
    margin-right: 10vw;
    display: none;

}
svg{
    height: 120px;
}

/* burger-menu  */
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
    visibility: visible;
}
.menu__btn {
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #7f83a8;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    text-align: center;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 3px;
    list-style: none;
    background-color: #120606;
    box-shadow: 2px 2px 59px rgba(197, 197, 226, 0.4);
    transition-duration: .25s;
	  padding-top: 18vh;
	  font-size: 25px;
}
.menu__box li{
    margin: 40px;
    font-size: 20px;
}
.menu__box img{
	  width: 35px;
	  margin: 2px;
}
.hamburger-menu{
	  display: none;
}

@media (max-width:985px){
    .big-head{
      display: none;
    }
    .menu-btn{
      display: flex;
    }
    .hamburger-menu{
      display: flex;
    }
    .small-head .logo{
        display: block;
    }
}


/* FOOTER  */


* {
    font-family: 'Trebuchet MS', sans-serif;
}
footer{
    background-color: #120606;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 20px ;
	padding: 55px 50px;
    color: aliceblue;
    height: auto;
}

footer .footer-left,
footer .footer-center,
footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

footer .footer-left{
	width: 40%;
}

/* The company logo */

footer .footer-icons{
	margin-left: 25 px;
}

footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer links */

footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

footer .footer-company-name{
	color:  aliceblue;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}



/* Footer Center */

footer .footer-center{
	width: 35%;
}
.footer-right p{
    margin-top: 0;
}
.footer-company-about-p{
    font: normal 18px 'Montserrat', cursive;
}
.footer-company-about-p span{
    font-weight: bold;
}
footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

footer .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

footer .footer-center p span{
	display:block;
	font-weight: bold;
	font-size:14px;
	line-height:2;
}

footer .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;
    font-weight: 600;
}

footer .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

footer .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

footer .footer-right{
    width: 20%;
}





@media (max-width: 880px) {

	footer{
		font: bold 14px sans-serif;
	}

	footer .footer-left,
	footer .footer-center,
	footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom:100px;
		text-align: center;
	}

	footer .footer-center i{
		margin-left: 0;
	}

}