@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @mixin text-shadow($red, $green, $blue) {
    $color: rgba($red, $green, $blue, 0.99);
    text-shadow: 0px 0px 3px $color;
  }
  
  .main-content {
    background: url('/sourses/background_games.jpg');
    background-size: cover;
    background-position: center;
  
    h3 {
      margin-top: 0px;
    }
  
    > div:first-child,
    > div:last-child {
      text-align: center;
      margin: 20px 0;
      font-size: 1.2em;
      color: #fff;
      padding: 10px;
    }
  }
  
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    position: relative;
    box-shadow: 0 4px 8px rgba(205, 10, 10, 0);
    border-radius: 8px;
    overflow: hidden;
    width: 700px;
    height: 450px;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 20px;
    transition: box-shadow 0.3s ease;
  
    background-size: cover;
    background-position: center;
  
    img {
      width: 100%;
      height: 100%;
    }
  
    &:hover {
      box-shadow: 0 0 25px 10px rgba(242, 128, 128, 0.181);
    }
  }
  
  .product-title {
    @include center-absolute;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s ease;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
  
    @include text-shadow(231, 87, 87);
    
    &:hover {
      transform: scale(1.2);
    }
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    -webkit-box-shadow: -17px 3px 80px 28px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -17px 3px 80px 28px rgba(0, 0, 0, 0.75);
    box-shadow: -17px 3px 80px 28px rgba(0, 0, 0, 0.75);
  
    .modal-content {
      background-color: black;
      margin: 20% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
  
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  
      &:hover,
      &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    backdrop-filter: blur(8px);
  }
  