/*  СЛАЙДЕР 1 СТРАНИЦА  */
.first-slide{
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
}
.back_main div{
    font-family: 'Monoton', coursive!important;
    color: aliceblue;
    font-size: 100px;
    line-height: 125px;
}
.back_img{
    width: 100vw;
    height: 25vw;
    background: url(sourses/fon_club2.jpg);
    background-position: center;
}
.one {
    padding: 5vw 2vw;
    text-align: center; 
}
@keyframes glow {
    0% { text-shadow: 0 0 10px aliceblue; }
    10% { text-shadow: 0 0 15px aliceblue; }
    20% { text-shadow: 0 0 20px aliceblue; }
    30% { text-shadow: 0 0 30px aliceblue; }
    40% { text-shadow: 0 0 20px aliceblue; }
    50% { text-shadow: 0 0 30px aliceblue; }
    60% { text-shadow: 0 0 20px aliceblue; }
    70% { text-shadow: 0 0 30px aliceblue; }
    80% { text-shadow: 0 0 20px aliceblue; }
    90% { text-shadow: 0 0 30px aliceblue; }
    100% { text-shadow: 0 0 15px aliceblue; }
}

@font-face {
    font-family: 'Spotify Pro'; 
    src: url('./sourses/sporty-pro-regular.otf') format('otf'), 
}

.one h1 {
    height: 500px;
    font-family: Spotify Pro ;
    position: relative;
    display: inline-block;
    font-size: 12vw;
    padding: 0;
    margin: 0;
    line-height: 1;
    overflow: hidden;
    color: white;
    text-shadow: none;
    border: none;
    animation: glow 4s infinite alternate;
    -webkit-text-stroke-width: 6px; 
    -webkit-text-stroke-color: #c46778; 
}

  .line {
    width: 100%;
    height: 10px;
    position: absolute; 
    bottom: 5px; 
    left: 0; 
    background-color: rgba(199, 191, 191, 0.997);
    border-radius: 1px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.text_main{
    text-shadow: 0 0 25px #fff;
    font-size: 4vh;
    text-align: center;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text_main span{
    font-weight: bold;
}
.left{
    left: 110px;
    top: 525px;
}
.right{
    left: 1373px;
    top:525px;
}

@media only screen and (max-width: 768px) {
    .first-slide {
        height: auto; 
    }

    .back_img {
        height: 35vh; 
    }

    .one h1 {
        font-size: 15vw;
        margin-top: 8vh;
        -webkit-text-stroke-width: 3px; 
        -webkit-text-stroke-color: #c46778; 
    }


}

@media only screen and (max-width: 469px){
    .one h1 {
        font-size: 18vw;
        -webkit-text-stroke-width: 2px; 
        -webkit-text-stroke-color: #c46778; 
    }
}



/*  СЛАЙДЕР 2 СТРАНИЦА  */


.time li {
    display: block!important;
    white-space: pre;
}
.time {
    position: static;
    font-size: 30px;
    font-weight: 550;
}
.block {
    display: flex;
    justify-content: space-around;
}
.left-t {
    width: 40vw;
    height: auto;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5vw;
}

.left-t img {
    width: 100%; 
}

.right-t {
    width: 60vw;
    padding-right: 10vw;
    box-sizing: border-box;
    text-align: center;
    margin-top: 50px; 
}

.name-time {
    margin-top: 0; 
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    text-shadow: 0 0 25px #da365a, 0 0 14px #da365a;
    font-weight: bold;
}

.line {
    width: 30vw;
    height: 1px;
    border-top: aliceblue 1px solid;
    box-shadow: 0 0 15px rgb(255, 255, 255), 0 0 30px aliceblue;
    margin: 0 auto;
}

.time li {
    display: flex;
    justify-content: space-between;
    white-space: pre;
}

.time {
    position: static;
    font-size: 30px;
    font-weight: 550;
}

.time li span {
    flex: 1; 
}


@media screen and (max-width: 768px) {
    .block {
        flex-direction: column;
    }
    .left-t, .right-t {
        width: 100%; 
        text-align: center; 
    }
    .left-t img {
        width: 80%; /* Уменьшил ширину изображения */
        margin-bottom: 10px; /* Уменьшил отступ снизу */
    }
    .right-t {
        margin-top: 20px; /* Увеличил отступ сверху */
        margin-bottom: 260px;
        padding: 0 10px;
    }
    .name-time {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
    }
    .line {
        width: 80%;
    }
    .time {
        margin-right: 0;
    }
}


/*  СЛАЙДЕР 3 СТРАНИЦА  */

.third-page {
     background-image: url(sourses/01.jpg);
     background-size: cover;
     background-position: center;
     height: 340px;
     position: relative;
     width: 100vw;
     padding: 7vh 10vw;
 }
 .third-page img {
     max-width: 100%;
 }
 .third-page .info {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     padding: 35px;
     padding-bottom: 5px;
     box-sizing: border-box;
     width: 80vw;
     height: auto;
     background-color: rgba(2, 0, 19, 0.7);
     left: 85px;
     top: 85px;
     color: aliceblue;
     font-family: "Montserrat", sans-serif;
     font-weight: lighter;
 }
 

 .info-text {
    flex: 1;
    padding-right: 20px; 
}

.info-text p {
   font-size: 30px;
   font-family: 'Courier New', Courier, monospace; 
   font-weight: bold;

}
.third-page .booking-form {
    flex: 1;
}


/* Default styles */
.third-page .booking-form input[type="text"],
.third-page .booking-form input[type="tel"],
.third-page .booking-form input[type="datetime-local"] {
    margin-bottom: 10px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    font-size: 16px;
    width: calc(100% - 24px); 
}

.third-page .booking-form button {
    margin-top: 20px; 
    padding: 14px 24px; 
    float: left; 
    cursor: pointer;
    background-color: #ffc6c6;
    color: rgb(255, 8, 8);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: calc(100% - 24px);
}

.third-page .booking-form button:hover {
    background-color: #fafafa;
}

#notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px 0;
    z-index: 1000;
}


/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .third-page {
        padding: 12vh 5vw; 
    }

    .third-page .info {
        display: block;
        padding: 20px; 
        left: auto;
        top: -80px;
        width: calc(100% - 40px);
        margin: 0 auto;
        margin-bottom: 500px;
        position: relative;
        min-height: 420px;
    }

    .info-text p {
        font-size: 24px; 
    }
        .info-text h2 {
            font-size: 24px; 
    

    .third-page .booking-form {
        margin-top: 20px; 
    }

    .third-page .booking-form input[type="text"],
    .third-page .booking-form input[type="tel"],
    .third-page .booking-form input[type="datetime-local"],
    .third-page .booking-form button {
        width: calc(100% - 24px);
        box-sizing: border-box;
        position: relative; 
        left: 50%; 
        transform: translateX(-50%); 
    }

    .item {
        margin-top:-40px;
    }
    .previous, .next {
        margin-top: 150px;
    }
}
}

@media only screen and (max-width: 420px) {
    .third-page .booking-form button {
        margin-top: -4px;
    }
    }


 /*  СЛАЙДЕР ОСНОВНЫЕ СТИЛИ  */
 .item {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    color: white;
    width: 100vw;
}
.previous, .next {
    align-self: center;
    cursor: pointer;
    transition: 0.5s;
}

.arrow_mobile {
    display: none;
}

.previous:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
    height: 670px;
}


.slider{
    width: 100%;
 }
 
 .command{
     position: absolute;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     padding: 0 10vw;
     margin-top: 67vh;
     height: 5vh;
     width: 80vw;
 }


 



 h2 {
     font-family: 'Monoton', cursive;
     font-size: 36px;
     color: aliceblue;
     text-align: center;
     text-shadow: 0 0 25px #fff; 
     margin-bottom: 20px;
 }
 
 .about-us p,
 .why-choose-us p {
     font-size: 18px;
     line-height: 1.6;
     color: aliceblue;
     text-align: center;
     text-shadow: 0 0 25px #fff; 
 }
 
 .about-us ul {
     list-style-type: disc;
     margin-left: 20px;
     color: aliceblue;
     text-shadow: 0 0 25px #fff; 
 }

 .about-us {
    padding: 40px;
}

.about-us .content {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between; 
    align-items: center; 
}

.about-us .text {
    width: 50%;
}

.about-us .image {
    width: 40%; 
}

.about-us img {
    max-width: 100%; 
    height: auto; 
}

.about-us p span{
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    .about-us {
        display: flex;
        flex-direction: column-reverse; 
        align-items: center; 
    }
    .about-us .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .about-us .image {
        margin-top: 20px;
        width: 80%;
    }
    .about-us .text{
        width: 100%;
    }
}

/* Для мобильных устройств */
@media only screen and (max-width: 768px) {
    h2 {
        font-size: 24px; 
    }
    .about-us p,
    .about-us ul {
        font-size: 16px;
    }
    .about-us p{
        width:100%;
    }
    .about-us ul {
        margin-left: 10px; 
    }
}
 
 .why-choose-us .benefit h3 {
     font-size: 24px;
     margin-bottom: 10px;
     color: aliceblue;
     text-shadow: 0 0 25px #fff;
 }
 
 .why-choose-us .benefit p {
     font-size: 16px;
     color: #aaa; 
     text-align: center;
     text-shadow: 0 0 25px #fff;
 }



.why-choose-us {
    padding: 40px;
}

.benefits {
    display: flex;
    justify-content: space-between;
}

.benefit {
    width: calc(25% - 20px); 
    padding: 20px;
    border: 2px solid #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: none;
}

.benefit img {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.benefit h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.benefit p {
    font-size: 14px;
    color: #666;
}

/* Для планшетов и устройств среднего размера */
@media only screen and (max-width: 1024px) {
    .why-choose-us .benefits {
        flex-wrap: wrap; 
        justify-content: center; 
    }
    .why-choose-us .benefit {
        width: calc(50% - 20px); 
        margin-bottom: 20px; 
    }
}

/* Для мобильных устройств */
@media only screen and (max-width: 768px) {
    .why-choose-us .benefit {
        width: calc(100% - 20px);
    }
    .why-choose-us .benefit img {
        height: auto; 
    }
    .why-choose-us .benefit h3 {
        font-size: 20px; 
    }
    .why-choose-us .benefit p {
        font-size: 16px;
    }
}

.room-tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid white;
}

.room-tab {
    flex: 1;
    text-align: center;
    color: white;
    text-shadow: 0 0 25px #fff;
    font-size:25px;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
    border-top: 1px solid transparent; 
    
}

.room-tab.active {
    border-top: 1px solid white; 
}

.room-info {
    color: white;
    margin-top: 0px;
    background-color: #543031;
    
}

.room-info h3 {
    text-align: center;
}

.room-details {
    display: none;
   
}
.room-details.active {
    display: block; 
}
.room-details p {
    text-align: center;
    font-size: 30px;
}


.PcIron {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 340px;
}
.element {
    width: 24%;
    height: 50%;
}
.element svg{
    position: absolute;
    margin-top: 22px;
}

.item_main,
.item_description {
    position: absolute;
}

.item_main {
    margin-top: 60px;
    margin-left: 80px;
    font-weight: bold;
    text-shadow: #aaa;
    font-size: 20px;
    padding-bottom: 10px;
    text-shadow: 0 0 45px #51afd3cb;
}

.item_desription {
    margin-top: 85px;
    margin-left: 80px;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0px 0px 3px rgb(219, 1, 1);
    
}

@media only screen and (max-width: 600px) {
    .room-tabs {
        flex-direction: column;
        align-items: center;
    }
    .room-tab {
        width: 100%;
        border-top: 1px solid white;
    }
    .room-info {
        margin-top: 20px;
    }
    .PcIron {
        height: auto;
    }
    .element {
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .element svg {
        position: absolute;
        top: 10px; 
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px; 
        width: 50px; 
        height: 50px;
    }

    .item_main, .item_desription {
        margin-left: 0; 
        text-align: center; 
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .room-tabs {
        flex-direction: column;
        align-items: center;
    }
    .room-tab {
        width: 100%;
        border-top: 1px solid white;
    }
    .room-info {
        margin-top: 20px;
    }
    .PcIron {
        height: auto;
    }
    .element {
        position: relative;
        width: 100%;
        height: auto;
    }
    .element svg {
        position: absolute;
        top: 10px; 
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
        width: 50px; 
        height: 50px;
    }

    .item_main, .item_desription {
        margin-left: 0;
        text-align: center;
    }
}



@media only screen and (min-width: 901px) {
    .room-tabs {
        flex-direction: row;
    }
    .room-tab {
        flex: 1;
        border-top: 1px solid transparent;
    }
}

#prices {
  padding: 50px 0;
}

.price-table {
  margin: 20px auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-collapse: collapse;
}

.header {
  background-color: none;
  color: white;

  
}

.cell {
  padding: 20px;
  text-align: center;
  border-bottom: 5px solid #ddd;
  font-weight: bold;
  font-size: 1.8em;
  color: aliceblue; 
  text-shadow: 0px 0px 4px rgba(198, 8, 8, 0.5); 
}

.cell:first-child {
  background-color: none;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .cell {
      font-size: 1.2em; /* Дополнительное уменьшение размера шрифта для планшетных экранов */
      padding: 8px;
      border-bottom: 4px solid #ddd; /* Уменьшение отступов для планшетных экранов */
    }
  }
  
  @media only screen and (max-width: 600px) {
    .cell {
      font-size: 1em; /* Дополнительное уменьшение размера шрифта для мобильных экранов */
      padding: 6px; 
      border-bottom: 3px solid #ddd;/* Уменьшение отступов для мобильных экранов */
    }
  }

  @media only screen and (max-width: 480px) {
    .cell {
      font-size: 0.6em; /* Дополнительное уменьшение размера шрифта для мобильных экранов */
      border-bottom: 3px solid #ddd;/* Уменьшение отступов для мобильных экранов */
    }
  }





@keyframes fade {
    
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}



@media (max-width: 640px){
    .ev-text{
        width: 80%;
    }
}


